* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(#DFDFDF, #88888828 90%);
  margin: 0px 100px;
  font-family:Arial, Helvetica, sans-serif;
}

a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Change the link color on hover */
nav_menu:hover {
  background-color: #111;
  color: #4eaab1;
}

nav_menu:active {
  background-color: #fd9bd3;
  color: white;
}

img {
  margin: auto;
  display: block;
  flex-wrap: wrap;
}

p {
  width: 100%;
  display: inline;
  position: relative;
  left: 400px;
}

a {
  text-decoration: none;
  padding: 50px 50px 50px 50px;
  color: black;
}

.photoList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  
}

.photo1 {
  width: 600px;
  height: 400px;
}

.photo2 {
  width: 280px;
  height: 400px;
}

.photo3 {
  width: 600px;
  height: 400px;
}

.photos {
  width: 200px;
  height: 200px;
  display: inline-block
}
